.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    font-size: max(10%,25px);
    color: tomato;
}

.profile {
    width: 50px; /* Kích thước chiều rộng */
    height: 50px; /* Kích thước chiều cao */
    border-radius: 50%; /* Tạo góc tròn */
    object-fit: cover; /* Đảm bảo hình ảnh không bị méo */
    border: 2px solid #ccc; /* Đường viền tùy chỉnh (nếu cần) */
  }